# Directorio del entorno virtual
venv/
.venv/

# Caché y archivos temporales de Python
__pycache__/
*.pyc

# Archivos de Streamlit y editor de texto 
.streamlit/
.vscode/

# Ignorar configuraciones de VS Code Dev Containers
.devcontainer/